@import "../theme";

.header {
    padding: 20px 20% 10px;
    position: relative;
    height: 100px; 
}
.title {
    padding-left: 20px;
    float: left;
    a {
        color: $theme_text;
        text-decoration: none;
        font-size: $h4;
    }
}
.page {
    float: right;
    padding-right: 20px;
    a {
        color: $theme_text;
        text-decoration: none;
        font-size: $h5;
    }
}
@media (min-width: 750px) {
  
}