$theme_main: #eeeeee;
$theme_text: #222222;
$theme_header: #ffffff;
$theme_line: #a8a8a8;

$h1: 5rem;
$h2: 4rem;
$h3: 3rem;
$h4: 2rem;
$h5: 1rem;
$p: 1.2rem;

$fonts: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", "-apple-system", BlinkMacSystemFont, sans-serif;